body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #424141, #028a58);
    margin: 0;
}

.login-container {
    background-color: #2F4F4F;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #C0C0C0;
}

.login-container input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #006400;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 15px;
    background-color: #348334;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #164616;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #00A86B;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.logo-img {
    position: relative;
    left: -66px; /* Ajusta este valor según sea necesario */
}